* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
  background-color: grey;
  min-height: 100vh;
  position: relative;
}
.container {
  display: flex;
  /* flex-direction: column-reverse; */
  gap: 10px;
  position: relative;
  padding: 0 10px;
  width: 70%;
  margin: 0 auto;
}
.heading {
  margin: 5px auto;
  color: black;
}
.formBtn {
  position: fixed;
  top: 10px;
  cursor: pointer;
  z-index: 2;
  color: black;
}
.blur {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  /* z-index: 1; */
}

@media screen and (max-width: 1000px) {
  .container {
    width: 80%;
  }
}
@media screen and (max-width: 850px) {
  .container {
    width: 90%;
  }
}
@media screen and (max-width: 750px) {
  .container {
    width: 100%;
  }
}

